#about {
  padding: 2rem 2.5rem;
  display: flex;
  flex-flow: column;
  row-gap: 2rem;
  max-width: 40rem;
  margin: 0 auto;
}

.about-hello {
  font-size: 1.8rem;
  color: var(--primary-dark);
}

.about-text {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#about .collapse-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary);
  width: fit-content;
}

#about .collapse {
  font-size: 1.1rem;
}
