#hero {
  padding: 7rem 2rem 2rem 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.hero-img {
  position: relative;
  width: 100%;
  z-index: 2;
  max-width: 25rem;
}

.hero-img .coder {
  width: 100%;
}

.hero-img .dots {
  position: absolute;
  top: 20%;
  right: -3%;
  z-index: -1;
}

.hero-img .dots img {
  width: 100%;
}

.hero-text {
  z-index: 1;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding: 0 2rem;
  color: var(--primary);
  text-shadow: 0px 3px 0px var(--accent);
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(40deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 768px) {
  #hero {
    padding-top: 4.5rem;
  }

  .hero-img .dots img {
    width: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .hero-text {
    font-size: 2.8rem;
    padding: 0 25rem;
  }
}
