@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mitr:wght@400;500;600;700&display=swap');

:root {
  --primary: rgb(80, 129, 255);
  --primary-fade: rgb(82, 131, 255, 0.15);
  --primary-light: rgb(118, 131, 165);
  --primary-light-fade: rgba(118, 131, 165, 0.15);
  --primary-dark: rgb(20, 74, 214);

  --accent: rgb(238, 104, 7);
  --accent-fade: rgb(238, 104, 7, 0.1);

  --dark: rgb(18, 18, 19);
  --light: rgb(242, 242, 242);
  --light-bg: rgb(238, 243, 255);

  --font-1: 'Mitr', sans-serif;
  --font-2: 'K2D', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-bg);
  font-family: var(--font-1);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  color: var(--primary-dark);
}

.hoverable {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.hoverable:hover {
  filter: brightness(80%);
}

.no-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.no-highlight:focus {
  outline: none !important;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-1);
  border-radius: 5px;
  color: var(--light);
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  transition: all 0.3s ease-out;
}

button:hover {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

button.dark {
  color: var(--light);
  background-color: var(--dark);
  border: 1px solid var(--dark);
}

button.outline {
  color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  background-color: transparent;
}

button.outline-light {
  color: var(--light);
  border: 1px solid var(--light);
  background-color: transparent;
}

button.outline-dark {
  color: var(--dark);
  border: 1px solid var(--dark);
  background-color: transparent;
}

button.outline:hover {
  color: var(--light);
  border: 1px solid var(--primary-dark);
  box-shadow: inset 8rem 0 0 0 var(--primary-dark);
}

button.outline-light:hover {
  border: 1px solid var(--dark);
  box-shadow: inset 8rem 0 0 0 var(--dark);
}

button.outline-dark:hover {
  color: var(--light);
  border: 1px solid var(--dark);
  box-shadow: inset 8rem 0 0 0 var(--dark);
}

ul {
  font-family: var(--font-2);
  list-style-position: inside;
}

.section-title {
  font-size: 2.4rem;
  font-family: var(--font-2);
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--primary);
  position: relative;
  width: fit-content;
}

.section-title.secondary {
  color: var(--accent);
}

.section-title:before {
  content: '';
  display: inline-block;
  width: 180%;
  height: 80%;
  background-color: var(--primary-fade);
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateX(-50%);
}

.section-title.secondary::before {
  background-color: var(--accent-fade);
}

.my-resume {
  margin-top: 2rem;
}

.socials {
  display: flex;
  flex-flow: row wrap;
  padding: 0 2rem;
  justify-content: center;
  gap: 1rem;
  font-size: 2.5rem;
  width: fit-content;
  color: var(--light);
  margin: 0 auto 1.5rem auto;
}
