#projects {
  padding: 4rem 1.5rem;
}

.project-previews {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.preview {
  position: relative;
  border-radius: 10px;
  max-width: 23rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

.preview .super-project {
  content: 'Super project';
  position: absolute;
  top: -3%;
  right: -5%;
  color: var(--accent);
  transform: rotate(25deg);
  width: min-content;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-family: var(--font-2);
  font-weight: 800;
}

.super-project i {
  font-size: 1.5rem;
}

.preview-logo {
  padding: 1.5rem 2rem;
  width: 100%;
  max-width: 15rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font-2);
  font-weight: 500;
}

.preview-logo.text {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  font-size: 1.4rem;
  font-family: var(--font-2);
  font-weight: 500;
}

.preview-info {
  color: var(--light);
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--primary);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.preview-buttons {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 0.5rem;
  justify-content: space-between;
}

.preview-buttons button {
  padding: 0.5rem 1rem;
}

.preview-info .tags {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.preview-info .tags > * {
  padding: 0.4rem 1rem;
  border-radius: 50rem;
  background-color: var(--dark);
  color: var(--light);
  font-size: 0.9rem;
  font-family: var(--font-2);
  font-weight: 500;
}

.postscript {
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 768px) {
  #projects .section-title {
    padding-left: 2rem;
  }
}

@media (min-width: 1024px) {
  #projects .section-title {
    padding-left: 5rem;
    font-size: 2.7rem;
  }
}
